
  
ul{
    display: flex;
    justify-content: space-between;
    
    width: 1100px;
   
    
}
    
    
  

.elements{
    color:white;
}
.navbar{
   
    height:180px;
    background-color: #ce003427;
}
.dropdown-menu{
    background-color: #ce0033;
    opacity: 80%;
    
}
.dropdown-item{
    color:white;
    box-shadow: #fff 2px 3px 3px;
}
.nav-link{
    color: #ce0033;
}
a{
    font-size: x-large;
  
   
}
/* navbar end*/
body{
    background-image: url(https://i.imgur.com/NpGfnTu.jpg) ;
    background-size: cover;
  
    background-repeat: no-repeat;
   
    
}
/* contact formulaire*/
.contact{
    height: 500px;
    padding-top: 10px;
   background-color:transparent;
   
   
}
form {
    display: flex;
    justify-content: space-around;
    box-shadow:  2px #ce0033;
  

}
label{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25px;
}

h1 {
    text-align: center;
	
	color: #ce0033;
   font-size: 70px;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   box-shadow: 2px 2px 2px 2px #ce0033;
   
}
input,
textarea {
	padding: .3em;
	border: 1px solid #555;
	border-radius: 4px;
	font-family: inherit;
	font-size: inherit;
  background: rgba(0,0,0,.02);
}
input[type="submit"] {
	padding: .3em 1em;
	background: #ce0033;
	border: none;
	color: #fff;   
	border-radius: 4px;
	cursor: pointer;
}
label {
	width: 5em;
	margin-right: .5em;
	text-align: right;
}
.info1{
    
   width: 300px;
  background-color:transparent;
  opacity: 100%;
}
.info2{
    background-color: transparent;
    opacity: 100%;
}
.adresse{
    background-color: #ce0033;
    opacity: 80%;
    background-size: cover;
    padding-top: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 450px;

   
   
}
.map{
    box-shadow: 2px 2px 2px 2px white;
    height: 400px;
}
.plus{

text-align: center;
font-family: Georgia, 'Times New Roman', Times, serif;
font-size: 30px;
color: #fff;
box-shadow: 2px 2px 2px 2px #ca3a5e;
height: 400px;
}
/*finbody*/
/*footer*/

  
  h2{
      margin-top: 10px;
      
      height: 40px;
      color: #fff;
      
      background-color: #ce0033;
      box-shadow: 2px 2px  #ce0033;
      opacity: 70%;
  }
  

  span{
    color: rgb(10, 9, 9);
    box-shadow: #fff;
    font-size: 18px;
}
.fa {
    
    font-size: 30px;
    width: 100px;
    height:50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    color: #3B5998;
    
  }
  .fa-youtube {
    color: #bb0000;
    
  }
  .fa-instagram {
    color: #d6249f;
    
  }
  .fiiter{
      background-color:#ce003427;
  }
  
  
 @media screen and (max-width: 1000px){
     
    .navbar{
        height:350px;
    }
    .adresse{

    display: flex;
    flex-wrap: wrap;
    height: 800px;
    
}

iframe{
    width: 400px;
}
.contact1{
    width:400px;
}

   
}


